.git
.github
.venv
venv
__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
.env
.env.*
gha-creds-*.json
.DS_Store
artifacts
mlruns
mlartifacts
data/raw
data/processed
dbt/target
dbt/logs
.terraform
*.tfstate
*.tfstate.*
